@model Shoe_Kart_Shopping_Model.ViewModels.ProductVM
@{
    ViewData["Title"] = "Upsert";
    var title = Model.Product.Id != 0 ? "Edit Product" : "New Product";
}
<div class="col-6">
    <h2 class="text-primary">@title</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            @if (Model.Product.Id != 0)
            {
                <input type="hidden" asp-for="Product.Id" />
            }
            <div asp-validation-summary="None" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Product.SerialNo"></label>
                <input asp-for="Product.SerialNo" class="form-control" />
                <span asp-validation-for="Product.SerialNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Description"></label>
                <textarea asp-for="Product.Description" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.ListPrice"></label>
                <input asp-for="Product.ListPrice" class="form-control" />
                <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Price50"></label>
                <input asp-for="Product.Price50" class="form-control" />
                <span asp-validation-for="Product.Price50" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <h2>&#128526;</h2>

            <div class="form-group">
                <label class="col-lg-2 col-lg-offset-2">Gender</label>
                <div class="col-lg-7">
                     
                    <div class="radio-inline">
                        @if (Model.Product.Id == 0)
                        {
                            <label>
                                @Html.RadioButtonFor(m => m.Product.Gender, 1)
                                Male
                            </label>
                        }
                        else
                        {
                            <label>
                                @Html.RadioButtonFor(m => m.Product.Gender, "Male")
                                Male
                            </label>
                        }

                    </div>
                    <div class="radio-inline">
                        @if (Model.Product.Id == 0)
                        {
                            <label>
                                @Html.RadioButtonFor(m => m.Product.Gender, 2)
                                FeMale
                            </label>
                        }
                        else
                        {
                            <label>
                                @Html.RadioButtonFor(m => m.Product.Gender, "FeMale")
                                FeMale
                            </label>
                        }
                    </div>
                    <div class="radio-inline">
                        @if (Model.Product.Id == 0)
                        {
                            <label>
                                @Html.RadioButtonFor(m => m.Product.Gender, 3)
                                child
                            </label>
                        }
                        else
                        {
                            <label>
                                @Html.RadioButtonFor(m => m.Product.Gender, "Child")
                                Child
                            </label>
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Product.BrandId"></label>
                @*<input asp-for="Product.BrandId" class="form-control" />*@
                @Html.DropDownListFor(m => m.Product.BrandId, Model.BrandList, "Select Brand", new { @class = "form-control" })
                <span asp-validation-for="Product.BrandId " class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.CategoryId"></label>
                @*<input asp-for="Product.CategoryId" class="form-control" />*@
                @Html.DropDownListFor(m => m.Product.CategoryId, Model.CategoryList, "Select Category", new { @class = "form-control" })
                <span asp-validation-for="Product.CategoryId " class="text-danger"></span>
            </div>

           @* <div class="form-group">
                <label asp-for="Product.ShoeSizeId"></label>
                @Html.DropDownListFor(m => m.Product.ShoeSizeId, Model.ShoeSizeList, "Select Size", new { @class = "form-control" })
                <span asp-validation-for="Product.ShoeSizeId " class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Product.ImageURL"></label>
                <input type="file" id="uploadBox" name="files" multiple asp-for="Product.ImageURL" class="form-control" />

                <span asp-validation-for="Product.ImageURL " class="text-danger"></span>
            </div>

            <div class="form-group p-2 m-2">
                @if (Model.Product.Id != 0)
                {
                    <partial name="_EditAndBackToListButton" />
                }
                else
                {
                    @*<partial name="_CreateAndBackToListButton" />*@
                    <div class="row">
                        <div class="col">
                            <button type="submit"onclick="return valData()" class="btn btn-info form-control">Create</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
                        </div>
                    </div>
                }
            </div>

        </form>
    </div>

    <div class="col-md-6">
        @if (Model.Product.Id != 0)
        {
            <img src=@Model.Product.ImageURL height="20%" />
        }
    </div>

</div>
@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/ne2gvt6wosycl0kuf5clobb4b1lmrluikc2iphrn6qn4dp7i/tinymce/5/tinymce.min.js" referrerpolicy="origin">
    </script>
<script>
    tinymce.init({
        selector: "textarea",
        plugins: "lists",
        menubar:"file edit format"
    })
    function valData() {
        if (document.getElementById('uploadBox').value == "") {
            swal("error", "Please Select Image!!!", "error");
            return false;
        }
        return true;
    }
</script>
}
