@model IEnumerable<Shoe_Kart_Shopping_Model.OrderHeader>

<div class="col-1">
    <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Content Management
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="Index">All Orders</a>
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusApproved">Approved Orders</a>
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusPending">Pending Orders</a>
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusCancelled">Cancelled Orders</a>
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusRefunded">Refunded Orders</a>
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusProcessing">InProcess Orders</a>
            <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusShipped">Shipped Orders</a>


        </div>
    </li>
</div>
<div class="border container p-2 m-2">
    <table class="table table-striped table-bordered table-hover table-responsive active">
        <thead>
            <tr>
                <th class="text-center text-primary">Customer Name</th>
                <th class="text-center text-primary">Payment Status</th>
                <th class="text-center text-primary">Total Amount</th>
                <th class="text-center text-primary">Order Status</th>
                <th class="text-center text-primary">Date & Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center ">@item.Name</td>
                    <td class="text-center ">@item.PaymentStatus</td>
                    <td class="text-center ">@item.OrderTotal</td>
                    <td class="text-center ">@item.OrderStatus</td>
                    <td class="text-center ">@item.OrderDate</td>
                </tr>
            }
        </tbody>
    </table>
    <p class="text-center text-danger">No other matching records found!!!</p>



</div>
